.title {
  display: inline-block;
  width: 70%;
  font-family: Helvetica;
  font-size: 16px;
  margin-top: 0.4em;
}

.titleName {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16;
  overflow: hidden;
}

.titleAddress {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  font-size: 12;
  padding-left: 1rem;
  width: 35%;
  overflow: hidden;
}
