@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,300,700");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: 0;
}

/* react-circular-progressbar overrides */
.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: butt !important;
  stroke: #e8ca6f !important;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgba(50, 50, 50, 0.5) !important;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #e8ca6f !important;
}

.page {
  position: absolute;
  width: 100%;
  top: 0;
}
.fade-enter {
  opacity: 0.1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.menu-list-item {
  position: relative;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
